* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:#455671;
    background-color: #edeef7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

/* HEADER */

header {
    padding: 0px;
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    color: #3a3a3a;
    background-color: #9fc7cd;
    margin: 5px 0 12px 0;
    padding: 10px 10px 0 80px;
    font-weight: 500;
    font-size: 3vw;
}

header a {
    text-decoration: none;
    color: #9fc7cd;
}

header nav {
    margin: 20px 50px auto auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0 50px 0 0;
    font-size: 1.55vw;
    align-items: center;
}

header nav ul li a span {
    border-bottom: 3px solid;
}

/* HERO/JUMBOTRON */

.hero {
    height: 350px;
    background-image: url(../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    background-position: 80%;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h2 {
    color: #3a3a3a;
    background-color: #9fc7cd;
    font-size: 2.5vw;
    margin: 0 80px 20px 0;
    padding: 5px 10px 5px 10px;
    font-weight: normal;
}

/* ABOUT ME */

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 80px 20px 100px;
}

.section-title {
    font-size: 3vw;
    flex: 1 10%;
    font-weight: normal;
    padding: 0 10px 0 0;
    border-right: 2px solid;
    text-align: right;
}

.about h3 {
    height: 30vh;
}

.about-img {
    flex: 1 20%;
}

.about-img img {
    max-width: 70%;
    margin: 0 30px;
}

.about-content {
    flex: 1 60%;
    font-size: 1.2vw;
}

/* WORK */

.work {
    padding: 20px 0 0 0;
}

.work h3 {
    float: left;
    margin: 0 0 0 115px;
    height: 85vh;
}

.grid-container {
    flex: 1 60%;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
    padding: 0 0 0 30px;
}

.grid-item {
    border: 5px solid #9fc7cd;
    grid-column: span 4;
    color: #3a3a3a;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    font-size: 0.9rem;
    position: relative;
}

.grid-item h4 {
    background-color: #9fc7cd;
    padding: 10px 10px 10px 10px;
}

.grid-item h4 span {
    font-weight: normal;
    font-size: 1vw;
}

.project-one {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../assets/images/project1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.project-one:hover {
    background-image: url(../assets/images/project1hover.jpg);
    transition: 0.5s;
}

.project-two {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("../assets/images/project2.jpg");
    background-size: cover;
    background-position: center;
}

.project-two:hover {
    background-image: url(../assets/images/project2hover.jpg);
    transition: 0.5s;
}

.project-three {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../assets/images/project3.jpg");
    background-size: cover;
    background-position: center;
}

.project-three:hover {
    background-image: url(../assets/images/project3hover.jpg);
    transition: 0.5s;
}

.project-four {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("../assets/images/project4.jpg");
    background-size: cover;
    background-position: center;
}

.project-four:hover {
    background-image: url(../assets/images/project4hover.jpg);
    transition: 0.5s;
}

.project-five {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("../assets/images/runbuddy.png");
    background-size: cover;
    background-position: center;
}

.project-five:hover {
    background-image: url(../assets/images/runbuddyhover.jpg);
    transition: 0.5s;
}

.imglink {
    opacity: 0;
    font-size: 10vw;
    text-align: center;
}

/* FOOTER/CONTACT ME */

footer {
    margin: 50px 20px 20px 20px;
    padding: 20x 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

.footer {
    float: left;
}

footer a {
    text-decoration: none;
    color: #3a3a3a;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 40px;
}

footer nav ul li a {
    padding: 50px 100px 0 56px;
    font-size: 1.55vw;
    align-items: center;
}

footer nav ul li a span {
    border-bottom: 3px solid;
}
